/*BODY: Baggrundsfarve og typografi*/
* {
  box-sizing: border-box;
}

body {
    background: #faf9f8;
    padding: 30px;
}

@font-face {
    font-family: 'HM Sans Regular';
    src: url(../Fonts/HMSans-Regular.woff2);
    font-display: swap; /* Note: swap gives the font face a zero second block period and an infinite swap period. This means the browser draws text immediately with a fallback if the font face isn't loaded, but swaps the font face in as soon as it loads.*/
}

p, nav a, button, .dropdown-content a, .text, .numbertext {
    font-family: 'HM Sans Regular';
    text-align: center;
}

section p, li {
    font-size: 12px;
}


/*HEADER: Venstre menu, logo og højre menu, dropdown*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: inline-flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 10px;
    font-family: 'HM Sans Regular';
    display: flex;
    align-items: center;
}

.icon {
    width: 25px;
    height: 25px;
    padding: 5px;
}

#logo {
    width: 61px;
    height: 40px;
}

/* Dropdown knap */
.dropbtn {
  background-color: #cc071e;
  color: white;
  padding: 12px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

/* Dropdown knap – Hover */
.dropbtn:hover, .dropbtn:focus {
  background-color: #b20519;
}

/* Container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown indhold */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Sprog */
.dropdown-content a {
  color: black;
  padding: 7px 10px;
  text-decoration: none;
  display: block;
}

/* Sprog – Hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Viser dropdown-menuen i JS */
.show {
  display:block;
}


/*NAVIGATION*/
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

nav a {
    padding: 15px;
}


/*SLIDESHOW*/
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.img {
  width: 1000px;
  height: 667px;
  object-fit: cover;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #cc071e;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.055);
}

/* Caption text */
.text {
  color: #f2f2f2;
  background-color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
